<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todo</h1>
    <ul>
    <% todos.forEach( el => { %>
        <li class='todoItem priority-<%=el.priority%>' data-id='<%=el._id%>'>
            <input type="checkbox" class='<%= el.completed === true ? 'completed' : 'not'%>' <%= el.completed === true ? "checked" : ""%>>
            <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
            <!-- <span class='del'> Delete </span> -->
            <img src="assets/svg/trash-can.svg" class="del trash-icon" alt="Delete icon">
        </li>
    <% }) %>    
    </ul>

    <h4>Things left to do: <%= left %></h4>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit"><br>

        <input type="radio" id="high" name="todoPriority" value="3"><label for="html">High</label>
        <input type="radio" id="medium" name="todoPriority" value="2"><label for="css">Medium</label>
        <input type="radio" id="low" name="todoPriority" value="1"><label for="javascript">Low</label>
    </form>

    <script src="js/main.js"></script>
</body>
</html>