<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todo</h1>
    <ul>
    <% todos.forEach( el => { %>
        <li class='todoItem priority-<%=el.priority%>' data-id='<%=el._id%>'>
            <input type="checkbox" class='<%= el.completed === true ? 'completed' : 'not'%>' <%= el.completed === true ? "checked" : ""%>>
            <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
            <img src="assets/svg/trash-can.svg" class="del trash-icon" alt="Delete icon">
        </li>
    <% }) %>    
    </ul>

    <h4><%= user.userName %> has <%= left %> things left to do.</h4>

    <form action="/todos/createTodo" method='POST'>
        <fieldset class="text-input">
            <input type="text" placeholder="Enter Todo Item" name='todoItem'>
            <input type="submit" value=">">
        </fieldset>
        <fieldset class="priority-input">
            <div>
                <input type="radio" id="low" name="todoPriority" value="1" checked>
                <label for="low">Low</label>
            </div>
            <div>
                <input type="radio" id="medium" name="todoPriority" value="2">
                <label for="medium">Medium</label>
            </div>
            <div>
                <input type="radio" id="high" name="todoPriority" value="3">
                <label for="high">High</label>
            </div>
        </fieldset>
    </form>

    <script src="js/main.js"></script>
</body>
</html>